/* Функція @layer є частиною застарілої специфікації CSS3 і не підтримується в деяких сучасних браузерах, 
включаючи Chrome, Firefox, Edge та Safari. */

@font-face {
    font-family: "HelveticaNeueBold";
    src: url("/font/HelveticaNeueBold.ttf");
}

body {
    font-family: "HelveticaNeueBold", sans-serif;
    background-color: var(--color-white);
}

:root {
    --color-white: #ffffff;
    --color-black: #000;
    --color-primary: #611f69;
    --color-light: #f4ede4;

    --page-width-big: 1260px;
    --page-width-medium: 1000px;
    --page-width-small: 700px;

    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 20px;
    --spacing-5: 24px;
    --spacing-6: 28px;
    --spacing-7: 32px;
    --spacing-8: 36px;
    --spacing-9: 40px;

    --size-1: 14px;
    --size-2: 18px;
    --size-3: 22px;
    --size-4: 26px;
    --size-5: 30px;
    --size-6: 34px;

    --radius-1: 4px;

    --opacity-2: 0.3;
    --opacity-1: 0.7;
    --transition-1: 0.7s;

    --line-height: 1.5em;
}

.page {
    display: grid;
    max-width: 1260px;
    margin: 0 auto;
}

.page_section {
    display: flex;
    justify-content: center;
}

.page-content {
    width: 100%;
    max-width: var(--page-width);

    padding: var(--spacing-3);
}

.hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;

    min-height: 600px;
}

.hero {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.hero_content {
    display: grid;
    gap: var(--spacing-5);
    max-width: 425px;
    color: var(--color-black);
    position: relative;
}

.brands {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: var(--spacing-8);
    row-gap: var(--spacing-4);
    flex-wrap: wrap;
}

.hero_image {
    position: absolute;
    left: 533px;
    top: 0;
}

.hero_lable {
    font-size: var(--size-1);
}

.hero_title {
    font-size: 50px;
}

.hero_info {
    font-size: var(--size-2);
    line-height: var(--line-height);
}

.hero_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-5);
}

.button {
    text-decoration: none;
    color: var(--color-black);
    padding: var(--spacing-3);
    border-radius: var(--radius-1);
    text-align: center;
    border: 1px solid transparent;
}

.click {
    transition: opacity var(--transition-1);
}

.click:hover {
    opacity: var(--opacity-1);
    cursor: pointer;
}

.click:active {
    opacity: var(--opacity-2);
}

.button_primary {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.button_secondary {
    color: var(--color-primary);
    border-color: var(--color-primary);
    border-width: 2px;
}

.features_section {
    padding-top: 150px;
    padding-bottom: 150px;

    display: grid;
    gap: var(--spacing-5);

    background-image: url("/img/brands/features.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.page_section_light {
    background-color: var(--color-light);
}

.features_title {
    font-size: var(--size-6);
}

.features_description {
    font-size: var(--size-2);
    max-width: 520px;
    line-height: var(--line-height);
}

.feat_card {
    padding: var(--spacing-3);
    background-color: var(--color-white);
    display: grid;
    gap: var(--spacing-3);

    font-size: var(--size-2);

    grid-template-rows: min-content min-content 1fr min-content;
}

.feat_card_description {
    line-height: var(--line-height);
}

.icon {
    display: block;
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon_arrow {
    display: block;
    height: 14px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("/svg/arrow-right.svg");
}

.icon_arrow_blue {
    display: block;
    height: 14px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("/svg/arrow-right-blue.svg");
}

.feat_link {
    justify-self: flex-end;
}

.features_grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-3);
}

.features_grid_4 > .feat_card:first-of-type {
    grid-row: 1 / 3;
}

.page_section_work {
    background-color: var(--color-light);
}

.work_section {
    display: grid;

    background-image: url("/img/brands/features_work.png");
    background-repeat: no-repeat;
    background-position: top left;
}

.work_title {
    font-size: var(--size-6);
    padding-left: 50%;
    padding-bottom: 25px;
}

.work_description {
    font-size: var(--size-2);
    padding-left: 50%;
    padding-bottom: 55px;

    line-height: var(--line-height);
}

.work_grid_4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: var(--spacing-3);

    padding-left: 330px;
    margin-top: 70px;
    margin-bottom: 150px;

    position: relative;
}

.work_grid_4 > .work_card:first-child,
.work_grid_4 > .work_card:nth-child(2) {
    grid-row: span 2;
}

@media all and (max-width: 1000px) {
    .features_section,
    .work_section {
        background-image: none;
    }

    .features_grid_4 {
        grid-template-columns: repeat(3, 1fr);
    }

    .work_grid_4 {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 0;
    }

    .deliv_image {
        display: none;
    }
}

@media all and (max-width: 600px) {
    .features_grid_4,
    .footer_grid_3 {
        grid-template-columns: repeat(2, 1fr);
    }

    .work_grid_4 {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0;
    }
}

@media all and (max-width: 360px) {
    .features_grid_4 {
        grid-template-columns: 1fr;
    }

    .footer_grid_3 {
        grid-template-columns: repeat(1fr);
    }
}

.work_card {
    padding: var(--spacing-3);
    background-color: var(--color-white);
    display: grid;
    gap: var(--spacing-3);

    font-size: var(--size-2);

    grid-template-rows: min-content min-content 1fr min-content;
}

.work_card_description {
    line-height: var(--line-height);
}

.work_link {
    justify-self: flex-end;
}

.delivery_section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--color-white);

    min-height: 540px;
}

.deliv {
    height: 100%;
    display: flex;
    align-items: center;
}

.deliv_content {
    display: grid;
    gap: var(--spacing-5);

    color: var(--color-black);
    position: relative;
    margin-left: 60px;
}

.deliv_image {
    top: 0;
}

.deliv_lable {
    font-size: var(--size-4);
    line-height: var(--line-height);
}

.deliv_info {
    font-size: var(--size-2);
    line-height: var(--line-height);
}

.more_section {
    max-width: 1260px;
    max-height: 500px;
    margin-bottom: 80px;
}

.footer_title {
    font-size: var(--size-5);
    padding-left: 33%;
}

.footer_grid_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-height: 480px;
    gap: var(--spacing-3);

    margin-top: 70px;
}

.footer_card {
    border: 1px solid transparent;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    height: 500px;
}

.footer_info {
    font-size: var(--size-1);
    padding-left: var(--spacing-1);
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
}

.footer_card_title_one {
    display: block;
    font-size: var(--size-4);
    line-height: 150%;
    margin-left: var(--spacing-2);
    margin-right: var(--spacing-2);
    height: 77px;
}

.footer_card_title {
    display: block;
    font-size: var(--size-4);
    line-height: 150%;
    margin-left: var(--spacing-2);
    margin-right: var(--spacing-2);
}

.footer_image {
    width: 100%;
}

.more_link {
    font-size: var(--size-2);
    margin-top: 40px;
    margin-left: var(--spacing-2);
    padding-bottom: var(--spacing-2);
}

.footer_link {
    margin-right: var(--spacing-2);
    margin-top: 40px;
}

.icon_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.end {
    padding-top: 80px;
}
